---
title: Distributions des variables
author: Nicolas
date: '2018-01-06'
slug: distributions-des-variables
categories:
  - R
  - univarié
tags:
  - R
  - Univarié
---



<p>Pour avoir une meilleure compréhension de la zone d’étude, nous avons décidé de représenter sous forme de graphique les variables que nous avons sélectionner.</p>
<p>Tout d’abord, une par une sur l’ensemble de notre jeu de données, puis nous avons voulu étudier plus en détail la variable <strong>CLAVIVP</strong>, et ceux à différentes échelles.</p>
<p>Toutes les valeurs affichées correspondent à des valeurs pondérées à l’aide de variables <strong>FACTOR</strong> selon les recommendations de l’<em>INEGI</em>.</p>
<div id="distibution-des-variables" class="section level2">
<h2>Distibution des variables</h2>
<p>Nous avons représenté chaque variable sous forme de diagrammes en barre (pour les variables qualitatives) ou d’histogramme (pour les variables quantitatives), sur le territoire complet de la Zone Urbaine de Mexico.</p>
<div id="type-de-logement" class="section level4">
<h4>Type de logement</h4>
<p><img src="../../img/distri_variables/CLAVIVP.png" alt="Type de logement" /> Comme le montre la figure, le type de logement est assez diversifié mais les habitations de type <em>villa</em> isolé (majorité) ou non sur sa parcelle et les appartements sont les cas les plus fréquents.</p>
<p>Les autres types sont nettement moins réprésentés voire anecdotiques.</p>
</div>
<div id="type-de-menage" class="section level4">
<h4>Type de ménage</h4>
<div class="figure">
<img src="../../img/distri_variables/TIPOHOG.png" alt="Type de ménage" />
<p class="caption">Type de ménage</p>
</div>
<p>Les structures familiales sont très proches de celles rencontrées en France, avec beaucoup de noyaux familiaux, de familles composées et de célibataires. Nous pouvons toutefois noté un nombre très important de familles étendues.</p>
</div>
<div id="nombre-de-pieces-dans-lhabitation" class="section level4">
<h4>Nombre de pièces dans l’habitation</h4>
<div class="figure">
<img src="../../img/distri_variables/TOTCUART.png" alt="Nombre de pièces dans l’habitation" />
<p class="caption">Nombre de pièces dans l’habitation</p>
</div>
<p>Comme le montre la figure, la plupart des habitations ont entre 5 et 6 pièces rarement plus. Le graphique est étiré par les 99 (non spécifié).</p>
</div>
<div id="nombre-de-chambres-dans-lhabitation" class="section level4">
<h4>Nombre de chambres dans l’habitation</h4>
<div class="figure">
<img src="../../img/distri_variables/CUADORM.png" alt="Nombre de chambres dans l’habitation" />
<p class="caption">Nombre de chambres dans l’habitation</p>
</div>
<p>Comme le montre la figure, la plupart des habitations ont entre 4 et 6 chambres, rarement plus. Le graphique est étiré par les 99 (non spécifié).</p>
</div>
<div id="nombre-de-personnes-residants-dans-lhabitation" class="section level4">
<h4>Nombre de personnes résidants dans l’habitation</h4>
<div class="figure">
<img src="../../img/distri_variables/NUMPERS.png" alt="Nombre de personnes résidants dans l’habitation" />
<p class="caption">Nombre de personnes résidants dans l’habitation</p>
</div>
<p>La figure montre que le nombre de personnes résidants dans l’habitation est souvent compris entre 4 et 7 personnes, avec une moyenne très proche de 5 et un maximun à 29 personnes.</p>
</div>
<div id="proprietaire-de-lhabitation" class="section level4">
<h4>Propriétaire de l’habitation</h4>
<div class="figure">
<img src="../../img/distri_variables/TENENCIA.png" alt="Propriétaire de l’habitation" />
<p class="caption">Propriétaire de l’habitation</p>
</div>
<p>La très grande majorité des habitations sont occupées par leur propriétaires, sinon sont prếtées par un proche ou louées.</p>
</div>
<div id="electricite" class="section level4">
<h4>Electricité</h4>
<div class="figure">
<img src="../../img/distri_variables/ELECTRICIDAD.png" alt="Electricité" />
<p class="caption">Electricité</p>
</div>
<p>Les foyers interrogées ont accès à l’électricité, les foyers sans électricité sont très minoritaires.</p>
</div>
<div id="type-de-combustible" class="section level4">
<h4>Type de combustible</h4>
<div class="figure">
<img src="../../img/distri_variables/COMBUSTIBLE.png" alt="Type de combustible" />
<p class="caption">Type de combustible</p>
</div>
<p>La majorité des foyers ont recours au gaz.</p>
</div>
<div id="type-dacces-a-leau-courante" class="section level4">
<h4>Type d’accès à l’eau courante</h4>
<div class="figure">
<img src="../../img/distri_variables/ABA_AGUA_ENTU.png" alt="Accès à l’eau courante" />
<p class="caption">Accès à l’eau courante</p>
</div>
<p>Les habitations sont pour la plupart raccordées au réseau d’eau, certaines ont recours à un puit ou à un tuyau.</p>
</div>
<div id="type-dacces-a-leau-en-labsence-deau-courante" class="section level4">
<h4>Type d’accès à l’eau en l’absence d’eau courante</h4>
<div class="figure">
<img src="../../img/distri_variables/ABA_AGUA_NO_ENTU.png" alt="Type d’accès à l’eau en l’absence d’eau courante" />
<p class="caption">Type d’accès à l’eau en l’absence d’eau courante</p>
</div>
<p>Les habitations non raccordées à l’eau courante ont pour la plupart recours à un tuyau.</p>
</div>
<div id="type-dacces-a-leau-courante-1" class="section level4">
<h4>Type d’accès à l’eau courante</h4>
<div class="figure">
<img src="../../img/distri_variables/AGUA_ENTUBADA.png" alt="Type d’accès à l’eau courante" />
<p class="caption">Type d’accès à l’eau courante</p>
</div>
<p>Quand les habitations sont raccordées à l’eau courante, la plupart le sont à l’intérieur, quelques unes à l’extérieur dans le patio ou sur le terrain.</p>
</div>
<div id="toilettes" class="section level4">
<h4>Toilettes</h4>
<div class="figure">
<img src="../../img/distri_variables/USOEXC.png" alt="Toilettes" />
<p class="caption">Toilettes</p>
</div>
<p>La plupart des habitations sont équipées de toilettes.</p>
</div>
<div id="sanitaires" class="section level4">
<h4>Sanitaires</h4>
<div class="figure">
<img src="../../img/distri_variables/SERSAN.png" alt="Sanitaires" />
<p class="caption">Sanitaires</p>
</div>
<p>La plupart des habitations sont équipées de toilettes, parfois de latrines.</p>
</div>
<div id="traitement-des-ordures-menageres" class="section level4">
<h4>Traitement des ordures ménagères</h4>
<div class="figure">
<img src="../../img/distri_variables/DESTINO_BASURA.png" alt="Traitement des ordures ménagères" />
<p class="caption">Traitement des ordures ménagères</p>
</div>
<p>La majorité des déchets sont transmis directement à un camion de collecte, un petit nombre sont déposés dans des conteneurs ou directement en décharge.</p>
</div>
<div id="evacuation-des-eaux-usees" class="section level4">
<h4>Evacuation des eaux usées</h4>
<div class="figure">
<img src="../../img/distri_variables/DRENAJE.png" alt="Evacuation des eaux usées" />
<p class="caption">Evacuation des eaux usées</p>
</div>
<p>Les eaux usées sont envoyées dans le réseau public dans la très grande majorité des cas, ou plus rarement envoyées dans une fosse septique.</p>
</div>
<div id="types-de-sols" class="section level4">
<h4>Types de sols</h4>
<div class="figure">
<img src="../../img/distri_variables/PISOS.png" alt="Types de sols" />
<p class="caption">Types de sols</p>
</div>
<p>Les sols des habitations sont soit en béton brut soit carrelés. Quelques habitations ont encore un sol en terre battue.</p>
</div>
<div id="vehicule-automobile" class="section level4">
<h4>Véhicule automobile</h4>
<div class="figure">
<img src="../../img/distri_variables/AUTOPROP.png" alt="Véhicule automobile" />
<p class="caption">Véhicule automobile</p>
</div>
<p>La majorité des foyers n’est pas équipé d’un véhicule automobile, toutefois, près de la moitié le sont.</p>
</div>
<div id="radio" class="section level4">
<h4>Radio</h4>
<div class="figure">
<img src="../../img/distri_variables/RADIO.png" alt="Radio" />
<p class="caption">Radio</p>
</div>
<p>La grande majorité des foyers sont équipés de radio.</p>
</div>
<div id="television" class="section level4">
<h4>Télévision</h4>
<div class="figure">
<img src="../../img/distri_variables/TELEVISOR.png" alt="Télévision" />
<p class="caption">Télévision</p>
</div>
<p>Presque tous les foyers sont équipés d’une télévision.</p>
</div>
<div id="television-a-ecran-plat" class="section level4">
<h4>Télévision à écran plat</h4>
<div class="figure">
<img src="../../img/distri_variables/TELEVISOR_PP.png" alt="Télévision à écran plat" />
<p class="caption">Télévision à écran plat</p>
</div>
<p>Si les foyers sont fortement équipés de télévision, la plupart sont des télévisions d’ancienne génération, à tube cathodique. La part des foyers équipés de télévision à écran plat est importante, approchant de la moitié.</p>
</div>
<div id="telephone" class="section level4">
<h4>Téléphone</h4>
<div class="figure">
<img src="../../img/distri_variables/TELEFONO.png" alt="Téléphone" />
<p class="caption">Téléphone</p>
</div>
<p>Tous les foyers ne sont pas raccordés au téléphone, 2 sur 3 environ seulement le sont.</p>
</div>
<div id="telephone-portable" class="section level4">
<h4>Téléphone portable</h4>
<div class="figure">
<img src="../../img/distri_variables/CELULAR.png" alt="Téléphone portable" />
<p class="caption">Téléphone portable</p>
</div>
<p>La part des foyers équipés de téléphone portable est plus importante, car elle ne nécessite pas un raccordement au réseau.</p>
</div>
<div id="ordinateur" class="section level4">
<h4>Ordinateur</h4>
<div class="figure">
<img src="../../img/distri_variables/COMPUTADORA.png" alt="Ordinateur" />
<p class="caption">Ordinateur</p>
</div>
<p>La plupart des foyers ne sont pas équipés d’ordinateurs. La proportion des foyers équipés est toutefois proche des 50%.</p>
</div>
<div id="internet" class="section level4">
<h4>Internet</h4>
<div class="figure">
<img src="../../img/distri_variables/INTERNET.png" alt="Internet" />
<p class="caption">Internet</p>
</div>
<p>La part des foyers équipés d’internet est proche de 50%, cette proportion est plus forte que celles des foyers équipés d’ordinateur.</p>
</div>
<div id="refrigerateur" class="section level4">
<h4>Réfrigérateur</h4>
<div class="figure">
<img src="../../img/distri_variables/REFRIGERADOR.png" alt="Réfrigérateur" />
<p class="caption">Réfrigérateur</p>
</div>
<p>La très grande majorité des habitations est équipée d’un réfrigérateur. Une faible proportion n’en dispose pas.</p>
</div>
<div id="four" class="section level4">
<h4>Four</h4>
<div class="figure">
<img src="../../img/distri_variables/HORNO.png" alt="Four" />
<p class="caption">Four</p>
</div>
<p>Si tous les foyers ne sont pas équipés d’un four, la majorité en possède un.</p>
</div>
<div id="lave-linge" class="section level4">
<h4>Lave-linge</h4>
<div class="figure">
<img src="../../img/distri_variables/LAVADORA.png" alt="Lave-linge" />
<p class="caption">Lave-linge</p>
</div>
<p>Environ 2 foyers sur 3 est équipé d’un lave-linge. Cette proportion est supérieure à celle des ménages équipés d’un four.</p>
</div>
<div id="air-conditionne" class="section level4">
<h4>Air conditionné</h4>
<div class="figure">
<img src="../../img/distri_variables/AIRE_ACON.png" alt="Air conditionné" />
<p class="caption">Air conditionné</p>
</div>
<p>Très peu de ménages ont l’air conditionné, c’est extrèmement rare.</p>
</div>
<div id="variables-au-niveau-individu" class="section level3">
<h3>Variables au niveau individu</h3>
<div id="niveau-detudes" class="section level4">
<h4>Niveau d’études</h4>
<div class="figure">
<img src="../../img/distri_variables/NIVACAD.png" alt="Niveau d’études" />
<p class="caption">Niveau d’études</p>
</div>
<p>Une forte proportion des personnes interrogées n’ont été que jusqu’au primaire ou secondaire, voir ont préparés un baccalauréat général.</p>
</div>
<div id="part-indigene" class="section level4">
<h4>Part indigène</h4>
<div class="figure">
<img src="../../img/distri_variables/PERTE_INDIGENA.png" alt="Part indigène" />
<p class="caption">Part indigène</p>
</div>
<p>La très grande majorité des personnes interrogées ne sont pas d’origine indigène. Une proportion d’environ 5% sont d’origine indigène.</p>
</div>
<div id="espagnol" class="section level4">
<h4>Espagnol</h4>
<div class="figure">
<img src="../../img/distri_variables/HESPANOL.png" alt="Espagnol" />
<p class="caption">Espagnol</p>
</div>
<p>La plupart des personnes interrogées estiment avoir un niveau correct en espagnol.</p>
</div>
<div id="parlant-un-dialecte-indigene" class="section level4">
<h4>Parlant un dialecte indigène</h4>
<p><img src="../../img/distri_variables/HLENGUA.png" alt="Parlant un dialecte indigène" /> la plupart des personnes interrogées ne parlent pas une langue indigène.</p>
</div>
<div id="alphabetisation" class="section level4">
<h4>Alphabétisation</h4>
<div class="figure">
<img src="../../img/distri_variables/ALFABET.png" alt="Alphabétisation" />
<p class="caption">Alphabétisation</p>
</div>
<p>La plupart des personnes interrogées peuvent lire et écrire, quelques unes ont des difficultés. Enfin une petite partie n’en ai pas capable.</p>
</div>
</div>
</div>
<div id="type-dhabitation" class="section level1">
<h1>Type d’habitation</h1>
<p>Nous avons détaillé le type d’habitation selon l’entité fédérative puis par municipe.</p>
<div id="clavivp-au-niveau-entite-federative" class="section level2">
<h2>CLAVIVP au niveau Entité fédérative</h2>
<p><img src="../../img/CLAVIVP/CLAVIVP_par_ENT_2015.png" alt="Type de logement par entité fédérative" /> Sur le graphe, il est possible de voir que les proportions de type de logement ne sont pas du tout les mêmes. Ainsi l’écart entre les habiations isolées et celles partageant leur terrain n’est pas aussi marqué dans le ditrict fédéralq que dans l’entité de Mexico. La part d’appartement est aussi beaucoup plus importante dans le district fédéral. A l’opposé, l’entité dHidalgo n’étant constituée que d’un seul Municipe apparaît n’avoir que peu de logements, cela est probablement dû à un biais.</p>
</div>
<div id="clavivp-au-niveau-municipe" class="section level2">
<h2>CLAVIVP au niveau Municipe</h2>
<div id="district-federal" class="section level3">
<h3>District Fédéral</h3>
<div class="figure">
<img src="../../img/CLAVIVP/CLAVIVP_district_fed_par_MUN_2015.png" alt="Type de logement par Municipe du District fédéral" />
<p class="caption">Type de logement par Municipe du District fédéral</p>
</div>
</div>
<div id="mexico" class="section level3">
<h3>Mexico</h3>
<div class="figure">
<img src="../../img/CLAVIVP/CLAVIVP_mexico_par_MUN_2015_part1.png" alt="Type de logement par Municipe de Mexico - partie 1" />
<p class="caption">Type de logement par Municipe de Mexico - partie 1</p>
</div>
<div class="figure">
<img src="../../img/CLAVIVP/CLAVIVP_mexico_par_MUN_2015_part2.png" alt="Type de logement par Municipe de Mexico - partie 2" />
<p class="caption">Type de logement par Municipe de Mexico - partie 2</p>
</div>
<div class="figure">
<img src="../../img/CLAVIVP/CLAVIVP_mexico_par_MUN_2015_part3.png" alt="Type de logement par Municipe de Mexico - partie 3" />
<p class="caption">Type de logement par Municipe de Mexico - partie 3</p>
</div>
<div class="figure">
<img src="../../img/CLAVIVP/CLAVIVP_mexico_par_MUN_2015_part4.png" alt="Type de logement par Municipe de Mexico - partie 4" />
<p class="caption">Type de logement par Municipe de Mexico - partie 4</p>
</div>
<div class="figure">
<img src="../../img/CLAVIVP/CLAVIVP_mexico_par_MUN_2015_part5.png" alt="Type de logement par Municipe de Mexico - partie 5" />
<p class="caption">Type de logement par Municipe de Mexico - partie 5</p>
</div>
</div>
<div id="hidalgo" class="section level3">
<h3>Hidalgo</h3>
<div class="figure">
<img src="../../img/CLAVIVP/CLAVIVP_hidalgo_par_MUN_2015.png" alt="Type de logement par Municipe d’Hidalgo" />
<p class="caption">Type de logement par Municipe d’Hidalgo</p>
</div>
</div>
</div>
</div>
